/* ==== Global imports ==== */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "segoe ui";
}

html {
  scroll-behavior: smooth;
}

/*
===================================================
                About Me!!!!!!!!!!
===================================================
*/
.about {
  padding: 60px 0 25px 0;
  text-align: center;
  padding: 50px;
  font-size: 5px;
}

.about h3 {
  margin: 0;
  color: #2b2b2b;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 18px;
  margin-top: -130px;
}

.strip {
  margin: 28px 0 0px 0;
}

.about p {
  margin: 45px 0 0 0;
  color: #888b90;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  line-height: 1.8em;
}

/*
===================================================
                About Me ends here!!!
===================================================
*/
/*
===================================================
                Education starts here!!!
===================================================
*/
.education {
  padding: 60px 0;
  background: #eeeeee;
  text-align: center;
}

.edu-info h3 {
  margin: 0;
  color: #2b2b2b;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 18px;
}

/*
===================================================
                Education ends here!!!
===================================================
*/
/*
===================================================
            Work Experience starts here!!!
===================================================
*/
.work-info h3 {
  margin: 0;
  color: #2b2b2b;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 18px;
}

.work-experience {
  padding: 60px 0;
  background: #eeeeee;
  text-align: center;
}

/*
===================================================
            Work Experience ends here!!!
===================================================
*/
/*
===================================================
            Contact starts here!!!
===================================================
*/
.contact {
  background: black;
  padding: 60px 0 0 0;
  text-align: center;
}

.contact-info h3 {
  margin: 0;
  color: #2b2b2b;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 18px;
  text-align: center;
}

/*
===================================================
            Contact Ends here!!!
===================================================
*/
/*
============================================
            Header Start!!!!
============================================

*/
header {
  background-image: url("../images/photo.jpg");
  background-attachment: fixed;
  width: 100%;
  margin-bottom: 90px;
}

.intro-section {
  padding: 100px;
  text-align: center;
}

.hello {
  margin-top: -5px;
  margin-bottom: -4x;
  color: #fff;
  display: inline;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  box-sizing: border-box;
}

.headIntro {
  color: white;
  font-size: 2em;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  display: inline;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  max-width: 300px;
}

#occupation {
  font-size: 30px;
  font-family: cursive;
  margin-top: 60px;
  color: white;
}

/*
============================================
            Header Ends!!!!
============================================

*/
/*
============================================
            Education Start!!!!
============================================

*/
.edu-grid p {
  margin: 0px auto;
  color: #ffffff;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  background: #52edc7;
  width: 36%;
  padding: 3px 0;
}

.edu-grid span {
  margin: 0px auto;
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  background: #4ad7b4;
  width: 36%;
  padding: 3px 0;
}

.edu-grid-master {
  background: #52edc7;
  padding: 15px 0;
}

.edu-grid-master h3 {
  font-family: "Lato", sans-serif;
  margin: 0;
  font-size: 18px;
  color: #4a4a4a;
  font-weight: 700;
  line-height: 1.8em;
}

.edu-grid-master h4 {
  font-family: "Lato", sans-serif;
  margin: 10px 0 0 0;
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
}

.edu-grid-info {
  background: #ffffff;
  padding: 25px 30px;
}

.edu-grid-info h5 {
  font-family: "Lato", sans-serif;
  line-height: 1.8em;
  margin: 0;
  font-size: 18px;
  color: #888b90;
  font-weight: 300;
}

.edu-border {
  border: 1px solid #e2e2e2;
  margin-top: 50px;
  border-radius: 6px;
  border-bottom: 2px solid #c3c3c3;
}

.edu-grids {
  margin-top: 50px;
}

.edu-grid {
  position: relative;
}

/*
============================================
            Education Ends!!!!
============================================

*/
/*
===================================================
            Work Experience starts here!!!
===================================================
*/
.work-grids {
  margin-top: 50px;
}

.work-grid h3 {
  margin: 0;
  color: #ffffff;
  background: #52edc7;
  padding: 9px 0;
  font-size: 18px;
  font-weight: 600;
}

.work-grid-info {
  background: #ffffff;
  padding: 20px 18px;
}

.work-grid-info h4 {
  font-family: "Lato", sans-serif;
  margin: 0;
  font-size: 22px;
  color: #4a4a4a;
  font-weight: 700;
}

.work-grid-info h5 {
  font-family: "Lato", sans-serif;
  margin: 12px 0 25px 0;
  font-size: 18px;
  color: #c1c1c1;
  font-weight: 500;
}

.work-grid-info p {
  font-family: "Lato", sans-serif;
  line-height: 1.8em;
  margin: 0;
  font-size: 18px;
  color: #888b90;
  font-weight: 300;
}

.work-grid {
  border: 1px solid #e2e2e2;
  border-radius: 6px;
  border-bottom: 2px solid #c3c3c3;
}

/*
===================================================
            Work Experience ends here!!!
===================================================
*/
/*
===================================================
            Contact starts here!!!
===================================================
*/
.contact-grids {
  margin-top: 50px;
}

.contact-grids h3 {
  color: #2b2b2b;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 25px 0;
}

.stripb {
  background: #2b2b2b;
  width: 30%;
  height: 1px;
  margin: 0 0 40px 0;
}

.contact-left ul {
  margin: 0px 0 0 0;
  padding: 0;
  font-size: 30px;
  letter-spacing: 4px;
  margin-bottom: 30px;
  background-color: black;
}

.contact-left ul li {
  list-style-type: none;
  font-size: 18px;
  color: #2b2b2b;
  font-weight: 500;
  line-height: 1.8em;
  font-family: "Lato", sans-serif;
}

.contact-left ul li a {
  text-decoration: none;
  color: #2b2b2b;
}

.contact-left ul li a:hover {
  color: #ffffff;
}

/*
===================================================
            Contact Ends here!!!
===================================================
*/
.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: fixed;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .navbar {
  display: inline;
  float: right;
  font-size: 20px;
}

.nav > .navbar > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: mistyrose;
}

.nav > .navbar > a:hover {
  color: rgba(0, 0, 0, 0.3);
}

#skills_section {
  grid-area: skills_section;
  height: 700px;
  margin-top: 30px;
  font-family: "Lato", sans-serif;
  margin-bottom: -300px;
}
#skills_section #skills_header {
  border: 1px solid transparent;
}
#skills_section #skills_header h2 {
  text-align: center;
  color: black;
  font-size: 2.2em;
}
#skills_section #skills_header .underline_sect {
  border-bottom: 4px solid #57EEA1;
}
#skills_section .skills-info {
  margin-top: 30px;
}
#skills_section .skills-info h3 {
  text-align: center;
  margin: 0;
  color: #2b2b2b;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 18px;
}
#skills_section #skills_boxes {
  margin-top: 80px;
  display: grid;
  grid-template-areas: "html_box css_box sass_box js_box" "responsive_box node_box git_box python_box";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
#skills_section #skills_boxes .skill_here {
  position: relative;
  height: 150px;
}
#skills_section #skills_boxes .skill_here img {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
}
#skills_section #skills_boxes .skill_here p {
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 1em;
  text-align: center;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav > .nav-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }

  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }

  .nav > #nav-check:checked + .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/*# sourceMappingURL=main.css.map */
