ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    position: fixed;
    top: 0;
    width: 100%;
    /* transition: all 300ms ease-in-out; */
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: mistyrose;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* transition: all 300ms ease-in-out; */
  }
  
  li a:hover:not(.active) {
    color: gray;
    transition: all 300ms ease-in-out;
  }
  

/* Everything in my header */
header {
    background-image: url("../images/IMG-20181206-WA0001.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 29.000em;
    margin-bottom: 90px;
}

.intro-section {
    padding: 100px;
    text-align: center;
}

.hello {
    margin-top: -5px;
    margin-bottom: -4x;
    color: #fff;
    display: inline; 
    font-size: 2.000em;
    font-weight: 700;
    text-align: center;
    box-sizing: border-box; 
    
}

.headIntro {
    color: white;
    font-size: 3.000em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    display: inline;
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: .15em;
    max-width: 300px;
    
}
.headIntro h2 {
    overflow: hidden; 
    border-right: .1em solid white;
    margin-left: 250px;
    animation: 
    typing 7s steps(23) forwards,
    blink-caret .75s step-end infinite;
}

#occupation {
    font-size: 30px;
    font-family: cursive;
    margin-top: 60px;
}


/* .me {
    display: inline;
} */

/* font size for my header list */
header li{
    font-size: 30px;
} 

/* Font color on my icons */
header i{
    color: white;
}

/* Font color when the mouse moves on the icons */
header i:hover {
    background-color:pink;
    color: black;
}

/* 
==================================================
                About Section
==================================================
*/

#about_me {
    text-align: center;
}
.grid-container {
    display: grid;
    font-family: 'Courier New', Courier, monospace;
    grid-template-columns: 50%;
    color: white;
    grid-gap: 10px;
}

.grid-container >div {
    background-color: mistyrose;
    text-align: center;
    display: inline;
    padding: 20px;
    height: 100px;
    padding: 200px;
}

/* 
==================================================
            About Section Ends here
==================================================
*/

/* Roller */
html    {
    scroll-behavior: smooth;
}

/* Everything in my body */
body    {
    background-image: url("https://images.unsplash.com/photo-1521185496955-15097b20c5fe?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b73970e97b923e72be9355cb15099091&w=1000&q=80");
    font-size: 25px;
    background-attachment: fixed;
    font-size: 25px;
    color: white;
    font-family: 'Permanent Marker', cursive;
    margin: 0;
    background-attachment: fixed;
}



/* Everything in my footer */
footer {
    background-image: url("https://www.wallpaperflare.com/static/178/411/657/himalayas-mountains-landscape-sunset-wallpaper.jpg");
    background-attachment: fixed;
    background-size: cover;
    margin-left: -63px;
    margin-right: -61px;
    padding: 50px;
}

.icons {
    text-align: center;
    word-spacing: 20px;
    font-size: 30px;
}

h6 {
    text-align: center;
    margin-top:-15px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: mistyrose;

}


/* All paragraphs */
p   {
    text-align: left;
    font-size: 14px;
}

/* all headings styles start here */
h2  {
    font-size: 25px;
    text-align: center;
    text-decoration: underline;

}

h3  {
    font-size: 25px;
    font-stretch: narrower;
    text-align: center;
    font-family: cursive;
}

h4  {
    text-align: center;
    font-size: 25px;

}
h5  {
    font-size: 20px;
    text-align: left;
}
/* All headings styles end here */

/* All my unordered lists */
ul  {
    font-size: 14px;
}


/* The typing effect */
@keyframes typing {
    from { width: 1% }
    to { width: 55% }
}
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}