// holds boilerplate content. It holds the style of every page of my site should receive.
// box-sizing, body, headings

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  