// holds all the micro-layout files. Styling of buttons and navigation and similar page components.

  .nav {
    height: 50px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .navbar {
    display: inline;
    float: right;
    font-size: 20px;
  }
  
  .nav > .navbar > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: mistyrose;
  }
  
  .nav > .navbar > a:hover {
    color: rgba(0, 0, 0, 0.3);
  }
  