// styles for major sections of the layout like a header or footer and styles for grid system.

/*
============================================
            Header Start!!!!
============================================

*/

// header image, margin and width
header { 
    background-image: url("../images/photo.jpg");
    // background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    // height: 29.000em;
    margin-bottom: 90px;
}


// header intro, padding and text-align
.intro-section {
    padding: 100px;
    text-align: center;
}

// the welcome hand, including, margins, color, display, font-size, font-weight 
.hello {
    margin-top: -5px;
    margin-bottom: -4x;
    color: #fff;
    display: inline; 
    font-size: 2.000em;
    font-weight: 700;
    text-align: center;
    box-sizing: border-box; 
    
}

// header intro 2 font-family and the rest
.headIntro {
    color: white;
    font-size: 2.000em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    display: inline;
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: .15em;
    max-width: 300px;
    
}

// Junior web developer
#occupation {
    font-size: 30px;
    font-family: cursive;
    margin-top: 60px;
    color: white;
}

/*
============================================
            Header Ends!!!!
============================================

*/

/*
============================================
            Education Start!!!!
============================================

*/

// Educational style, mainly all in grid form
.edu-grid p {
    margin: 0px auto;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    background: #52edc7;
    width: 36%;
    padding: 3px 0;
}

// font-size, font-family, background e.t.c
.edu-grid span {
    margin: 0px auto;
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    background: #4ad7b4;
    width: 36%;
    padding: 3px 0;
}

// background and padding
.edu-grid-master {

    background: #52edc7;
    padding: 15px 0;
}

// margin, color, font-weight
.edu-grid-master h3 {
    font-family: 'Lato', sans-serif;
    margin: 0;
    font-size: 18px;
    color: #4a4a4a;
    font-weight: 700;
    line-height: 1.8em;
}

// margin, color, font-weight
.edu-grid-master h4 {
    font-family: 'Lato', sans-serif;
    margin: 10px 0 0 0;
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
}

// background and padding
.edu-grid-info {
    background: #ffffff;
    padding: 25px 30px;
}

// margin, color, font-weight
.edu-grid-info h5 {
    font-family: 'Lato', sans-serif;
    line-height: 1.8em;
    margin: 0;
    font-size: 18px;
    color: #888b90;
    font-weight: 300;
}

// border, margin-top, border-radius, border-bottom
.edu-border {
    border: 1px solid #e2e2e2;
    margin-top: 50px;
    border-radius: 6px;
    border-bottom: 2px solid #c3c3c3;
}

// margin-top
.edu-grids {
    margin-top: 50px;
}

// Position
.edu-grid {
    position: relative;
}

/*
============================================
            Education Ends!!!!
============================================

*/

/*
===================================================
            Work Experience starts here!!!
===================================================
*/

// Work section, margin-top
.work-grids {
    margin-top: 50px;
}

// margin, color, background, padding, font-size and font-weight
.work-grid h3 {
    margin: 0;
    color: #ffffff;
    background: #52edc7;
    padding: 9px 0;
    font-size: 18px;
    font-weight: 600;
}

// background and padding
.work-grid-info {
    background: #ffffff;
    padding: 20px 18px;
}

// font-family, margin, font-size,color and font-weight
.work-grid-info h4 {
    font-family: 'Lato', sans-serif;
    margin: 0;
    font-size: 22px;
    color: #4a4a4a;
    font-weight: 700;
}

// font-family, margin, font-size, color
.work-grid-info h5 {
    font-family: 'Lato', sans-serif;
    margin: 12px 0 25px 0;
    font-size: 18px;
    color: #c1c1c1;
    font-weight: 500;
}

// font-family, line-height, margin, font-size, color and font-weight
.work-grid-info p {
    font-family: 'Lato', sans-serif;
    line-height: 1.8em;
    margin: 0;
    font-size: 18px;
    color: #888b90;
    font-weight: 300;
}

// border-radius, border, border-bottom
.work-grid {
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    border-bottom: 2px solid #c3c3c3;
}

/*
===================================================
            Work Experience ends here!!!
===================================================
*/

/*
===================================================
            Contact starts here!!!
===================================================
*/

// Contact section
.contact-grids {
    margin-top: 50px;
}

// color font size, margin
.contact-grids h3 {
    color: #2b2b2b;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 25px 0;
}


.stripb {
    background: #2b2b2b;
    width: 30%;
    height: 1px;
    margin: 0 0 40px 0;
}

.contact-left ul {
    margin: 0px 0 0 0;
    padding: 0;
    font-size: 30px;
    letter-spacing: 4px;
    margin-bottom: 30px;
    background-color: black;
}

.contact-left ul li {
    list-style-type: none;
    font-size: 18px;
    color: #2b2b2b;
    font-weight: 500;
    line-height: 1.8em;
    font-family: 'Lato', sans-serif;
}

.contact-left ul li a {
    text-decoration: none;
    color: #2b2b2b;
}

.contact-left ul li a:hover {
    color: #ffffff;
}
/*
===================================================
            Contact Ends here!!!
===================================================
*/
