// SECTION HEADER
@mixin sectionHeader{
    border: 1px solid transparent;
    h2{
        text-align: center;
        color: $textColor;
        font-size: 2.2em;
    }

    .underline_sect{
        border-bottom: 4px solid #57EEA1;
    }
}

